{% extends 'base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<h1 class='text-center'>Awards</h1>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/11.0.0/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">



<img src="https://i.kinja-img.com/gawker-media/image/upload/s--8myN5kD9--/c_scale,f_auto,fl_progressive,q_80,w_800/exhl9hxjevx2uadvte3u.jpg"
  width="1280px" length="1500px" alt="">





{% for project in screenshots%}
<div class="col-md-4">
  <div class="card mb-4  shadow-sm" style="width:20rem;height:23rem;">
    <p><h1>{{project.project_name}}</h1></p>
    <img class="card-img-top" width="100%" height="225" src="{{project.project_photo.url}}" />
    <p>{{project.description}}</p>
    <!-- <p>{{project.github_repo}}</p> -->
    <button class="btn btn-info"> <a href="{{project.url}}">{{project.project_name}}</a></button>
    
    {% ratings project %}
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>

</main>



</div>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

{% endblock %}